joblib==0.12.1
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
matplotlib==2.2.2
numpy==1.15.2
pandas==0.23.3
pyswarm==0.6
scikit-learn==0.19.0
scipy==0.19.0
tensorflow==1.9.0
xgboost==0.72.1
